<table>
	<tr>
		<td>
			Vidas: <b><%=@vidas%></b>
		</td>
		<td>
			<b><%=@num1%></b>
		</td>
		<td>
			<b><%=@operador%></b>
		</td>
		<td>
			<b><%=@num2%></b>
		</td>
		<td>
			=
		</td>
		<td>
			<form method="post" action="/resultado">

				<input type="text" name="resultado"/>






				<input type="submit" value="resultado" />
			</form>
		</td>
	</tr>
</table>
