Vidas: <b><%=@vidas%></b>

Numero 1: <b><%=@num1%></b>

Operacion: <b><%=@operador%></b>

Numero 2: <b><%=@num2%></b>


<form method="post" action="/resultado">
Resultado:
	<input type="text" name="resultado" />


	<input type="submit" value="resultado" />
</form>

