Numero 1: <b><%=@num1%></b>

operacion: <b><%=@operador%></b>

Numero 2: <b><%=@num2%></b>

Resultado:
	<input type="text" name="resultado" />

<form method="post" action="/resultado">
	<input type="submit" value="resultado" />
</form>

