<form method="post" action="/volveraempezar">
	<img src="https://image.flaticon.com/icons/svg/55/55707.svg" height="150" width="150">
	<table>
		<tr>
			<td>
				Se quedó sin vidas
			</td>
			<td>
				<input type="submit" value="Volver a empezar" />
			</td>
		</tr>
	</table>
	
</form>

