<form method="post" action="/volveraempezar">
	<img src="https://i.pinimg.com/736x/f5/42/6e/f5426e63fef65c4b957619111a881e65--happy-face-pictures-laughing-smiley-face.jpg" height="150" width="150">
	<table>
		<tr>
			<td>
				GANASTE!!
			</td>
			<td>
				<input type="submit" value="Volver a empezar" />
			</td>
		</tr>
	</table>
</form>
